altgraph==0.17.3
certifi==2022.12.7
charset-normalizer==2.1.1
future==0.18.2
idna==3.4
pefile==2022.5.30
psutil==5.9.4
pycryptodome==3.16.0
pycryptodomex==3.16.0
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
pywin32==305
pywin32-ctypes==0.2.0
requests==2.28.1
six==1.16.0
socketIO-client==0.7.2
urllib3==1.26.13
websocket-client==1.4.2
WMI==1.5.1
